*{
    margin:0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height:100%;
}
#main{
    width: 100%;
    height:100%;
}
#section1{
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/free-photo/freshly-cooked-ramen-noodles-with-pork-vegetables-generative-ai_188544-12759.jpg");
    background-size: cover;
    margin: 0%;
}
#login{
    display: flex;
    justify-content: right;
}
#login p{
    margin : 2% 2%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    font-weight: -50;
}
#login p:hover{
    color: rgba(230, 111, 7, 0.982);
}
#title{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 250%;
}

#search{
    display: flex;
    align-items: center;
    justify-content:center
}
#search input{
    width: 50%;
    height: 60%;
    font-size: 21px;
    margin-top: 10%;
    padding: 5px;
}
#search i{
    padding: 7px;
    color: black;
    height: 25%;
    font-size: 21px;
    margin-top: 10%;
    background-color: white;
}
#section2{
    height: 45%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services{
    background-color:white;
    width: 34%;
    height: 80%;
    margin-left: 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services img{
    width: 80%;
    height: 105%;
    box-shadow: 2px 2px 2px rgba(230, 111, 7, 0.982); 
    border-radius: 10px;
}
.services img:hover{
    border: 3.4px solid rgba(230, 111, 7, 0.982);
}
.services {
    transition: transform 0.1s ease-in-out;
}